body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}
.about{
    background-color: rgb(238, 231, 231);
    border-radius: 25px;
    color: black;
    font-size: 25px;
    width: 25%;
    padding: 10px;
    margin-left: 460px;
}
.name{
    background-image: url(./image/background.jpg);
    height: 50vh;
    width: 100vw;
    background-size:cover;
    background-repeat: no-repeat;
}
.info{
    height: 140vh;
    width: 100vw;
    background-image: url(./image/backg_info.png);
    background-size:cover;
    background-repeat: no-repeat;
}
.contact{
    background-image: url(./image/content1.jpg);
    height: 30vh;
    width: 100vw;
    background-size:cover;
    background-repeat: no-repeat;
}
.skills{
    display: inline-block;
    background-image: url(./image/content1.jpg);
    height: 60vh;
    width: 39vw;
    background-size:cover;
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 40px;
}
.projects{
    display: inline-block;
    background-image: url(./image/content1.jpg);
    height: 60vh;
    width: 39vw;
    background-size:cover;
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 40px;
}
.education{
    display: inline-block;
    background-image: url(./image/content1.jpg);
    height: 60vh;
    width: 80vw;
    background-size:cover;
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 45px;
    color: white;
}
.title{
    background-color: rgb(238, 231, 231);
    border-radius: 25px;
    color: black;
    font-size: 40px;
    /* width: 25%; */
    padding: 4px;
    padding-left: 20px;

}
